@model NumeroExtenso;

@{
	ViewData["Title"] = "NumeroExtenso";

}

<h1 class="NumeroExtenso">Página da Conversão de número em Extenso</h1>

<form asp-action ="NumeroExtenso" class="form-numExt" mthod="post">
	<h2 class=" ="numeroExtenso">Digite um número </h2>
	<input type ="text" placeholder="Digite um Número" />
	<button class="" type="submit" name="action">Gerar número por Extenso</button>
	<h3>Número por Extenso:</h3>
</form>

