@model List<Modelo.Customer>


<a asp-action="Create" asp-controller="Customer" class="btn btn-light" >
    Novo Customer
</a>

@if (Model.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Modelo.Customer customer in Model)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <a>


                    <td asp-action="Delete" asp-controller="Customer" asp-route-id "@customer.Id" title="Excluir Customer" @customer.Name>
                        <td class="fade fa-trash" aria-hidden="true"></td>
                </tr>    
            }
        </tbody>
    </table>
}
else
{
    <div>
        Não existem registros de Customer
    </div>
}

<a asp-action="ExportDelimitatedFile" 
   asp-controller="Customer" 
   class="btn btn-light">
    Exportar Delimitado 
</a>

<a asp-action="ExportFixedFile"
   asp-controller="Customer"
   class="btn btn-light">
    Exportar Fixado
</a>